.heroLogo {
    max-width:  140px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.imgLogo {
    position: absolute;
    max-width: 300px;
    max-height: 100px;
}