.titleTeam {
	text-align: center;
}

.photoImage {
	height: 170px;
	width: 240px;
	margin: 10px 40px;
	border-radius: 4px;
}

figure {
	height: 200px;
	width: 280px;
}

.oneRow {
	display: flex;
	justify-content: space-around;
}