.listItems {
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    list-style: none;
    background-color: #edeae6;
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.listItems p {
    cursor: pointer;
}

.listItems p:before, .listItems p:after {
	position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: black;
    transition: all 0.3s;
}

.listItems p:before {
	left: 0px;
    top: 0px;
}

.listItems p:after {
	right: 0px;
    bottom: 0px;
}

.listItems p:hover:before, .listItems p:hover:after {
    opacity: 1;
    width: 100%;
}

.listItem {
	font-family: 'Just Another Hand', cursive;
	font-size: 24px;
    color: #000;
    text-transform: uppercase;	
    position: relative;
    cursor: pointer;
    margin: 0px 10px;
    padding: 5px 10px;
}

.mainLink {
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.subBlock {
    width: 88px;
    position: absolute;
    z-index: 1;
    margin-top: 11px;
    left: -2px;
}

.subLink {
    display: block;
    padding: 5px 3px;
    text-align: center;
    color: white;
    background-color: black;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.subLink:hover {
    font-size: 26px;
}