.headerRow {
    max-width: 79.36507936507936%; /* 100 / 1260 */
    margin: 0 auto;
}
.listItems {
    display: flex;
    justify-content: space-around;
    /* margin: 20px auto; */
    padding: 20px 0;
    /* width: 1260px; */
    list-style: none;
    background-color: #edeae6;
}

.listItems li:before, .listItems li:after {
	position: absolute;
    opacity: 0;
    width: 0%;
    height: 1px;
    content: '';
    background: black;
    transition: all 0.3s;
}

.listItems li:before {
	left: 0px;
    top: 0px;
}

.listItems li:after {
	right: 0px;
    bottom: 0px;
}

.listItems li:hover:before, .listItems li:hover:after
{
    opacity: 1;
    width: 100%;
}

.listItem {
	font-family: 'Just Another Hand', cursive;
	font-size: 24px;
    color: #000;
    text-transform: uppercase;	
    position: relative;
    z-index: 0;
    cursor: pointer;
    margin: 0px 10px;
    padding: 10px 10px;
} 