.heroData {
    max-width:  140px;
    width: 100%;
    text-align: center;
}
.dataBox {
     border: 1px solid #EDD46E;
}
.dataBox p {
    margin: 0;
    font-size: 18px;
    font-family: serif;
}
.dataBox p:first-child {
    margin-top: 10px;
}
.dataBox p:last-child {
    margin-bottom: 10px;
}
.hr {
    background: #EDD46E;
    width: 100%;
    height: 1px;
    margin: 10px 0;
}